@import "../global.css";

.dataTables_wrapper {
    position: relative;
    height: 100% !important;
}

.main_table {
    padding: 8px;
}

.cont-table {
    background-color: var(--color-tertiary);
    padding: 12px;
    box-shadow: var(--bxshadow);
    width: 100%;
}


.cont-table__options {
    display: flex;
    justify-content: space-between;
}

.cont-table__optionsItems {
    display: flex;
}

.cont-table__optionsButtons {
    display: flex;
    padding: 0px 8px;
    flex-wrap: wrap;
    /* Permitirá que los botones se colapsen en pantallas pequeñas */
    gap: 10px;
    /* Espacio entre los botones */
}


/* =======================Btn import, new user======================== */
.buttons {
    align-items: center;
    border-radius: 4px;
    color: var(--color-quinary);
    cursor: pointer;
    border: none;
    flex: 1;
    /* Para que los botones ocupen el ancho disponible */
    display: flex;
    justify-content: center;
    margin-right: 10px;
    padding: 12px;
    transition: all ease 0.8s;
}

.buttons img {
    padding: 2px;
}

.optionsButtonsExporte,
.optionsButtonsImporte {
    background: var(--color-sixth);
}


.optionsButtonsNewUser {
    background: var(--btnBanck);
}

.optionsButtonsExporte:hover,
.optionsButtonsImporte:hover,
.optionsButtonsNewUser:hover {
    background: var(--color-primary);
}

.cont-table__optionsItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options-dropdown {
    display: flex;
    align-items: center;
}

.options-heading {
    font-size: 14px;
    color: #333;
    margin-right: 10px;
}

.dropdown {
    margin: 0 10px;
    position: relative;
}

.dropdown-toggle {
    background-color: var(--color-tertiary);
    border: 1px solid var(--color-quaternary);
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.dropdown-menu {
    background-color: var(--color-tertiary);
    border: 1px solid var(--color-quaternary);
    border-radius: 3px;
    display: none;
    left: 0;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    text-align: center;
    width: 100px;
    z-index: 99999;
}

.dropdown-item {
    padding: 9px 3px;
    cursor: pointer;
    transition: all ease 0.8s;
}

.dropdown-item:hover {
    color: var(--color-quinary);
    background: var(--color-primary);
}

/* Agrega este estilo para mantener el menú desplegado cuando se interactúa con él */

/* =================Btn number of records====================== */
.dropdown.active .dropdown-menu {
    display: block;
}



/* =================Table dashoboard====== */
.table-container {
    overflow-x: auto;
    max-width: 100%;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.responsive-table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

.responsive-table th,
.responsive-table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Estilos para el desplazamiento horizontal */
.table-wrapper {
    width: 80%; /* Ajusta el ancho de la tabla según tus necesidades */
    overflow-x: auto;
    margin: 0 auto;
    position: absolute;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.page-link {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    text-decoration: none;
    color: var(--color-quaternary);
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
}

.page-link.active {
    background-color: var(--btnBanck);
    color: var(--color-tertiary);
    border: 1px solid var(--btnBanck);
}



@media screen and (max-width: 768px) {
    .table-wrapper {
        overflow-y: auto;
    }
}


/* Estilos para dispositivos pequeños (pantallas móviles) */
@media screen and (max-width: 768px) {
    .table-wrapper {
        width: 100%;
        overflow-x: auto;
        margin: 0 auto;
        position: absolute;
    }

    .cont-table__options {
        width: 100%;
    }

    .cont-table__options {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .buttons {
        width: 100%;
    }

    .cont-table__optionsButtons {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 30px;
        padding: 0px 8px;
        width: 100%;
    }

    .input:focus {
        background-color: var();
        border: 1px solid var(--btnBanck);
        width: 194px;
        cursor: none;
        padding: 18px 16px 18px 45px;
    }

    .responsive-table {
        border: 0px;
    }

    .responsive-table thead {
        display: none;
    }

    .responsive-table tr {
        margin-bottom: 8px;
        border-bottom: solid 1px var(--color-quaternary);
        display: block;
    }

    .responsive-table th,
    .responsive-table td {
        font-size: 12px;
    }

    .responsive-table td {
        display: block;
        border-bottom: 1px solid var(--color-secondary);
        text-align: right;
    }

    .responsive-table td:last-child {
        border-bottom: none;
    }

    .responsive-table td::before {
        content: attr(data-label);
        font-weight: bold;
        float: left;
    }

    .btnDetails {
        font-size: 14px;
        float: right;
        height: 1.5em;
        margin-bottom: 12px;
        width: 100px;
    }

    .btnDetails::before {
        left: 13%;
        width: 76%;
    }

    .btnDetails::after {
        top: -5px;
        left: 11%;
        width: 79%;
    }

}